@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
  :root {
  --color-primary: #F84565 ;
  --color-primary-dull: #D63854  ;
}




*{
   font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;

}

body{
  background-color: #000000;
  color: white;
  margin: 0;
  padding: 0;
}

.no-scrollbar{
  scrollbar-width: none; 

}